* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

p {
    margin-top: 7px;
}

img {
    position: absolute;
    margin-left: 51.8em;
    margin-top: 12em;
    height: 250px;
    width: 250px;
}

.losango-decoracao {
    background: rgb(70, 49, 212);   
    height: 10px;
    width: 10px; 
    margin-top: 1em;
    margin-left: 2px;
    transform: rotate(45deg);
}

#sec-colorblue {
    height: 100vh;
    width: 70vw;
    background-color: rgb(70, 49, 212);
}

#sec-colorgreen {
    height: 100vh;
    width: 30vw;
    background-color: rgb(204, 242, 128);
    display: flex;
    justify-content: end;
}

#div-nome {
    margin-top: 2.5em;
    margin-left: 4em;
    font-size: 20px;
    color: rgb(204, 242, 128);
    font-family: "Ubuntu", serif;
}

#div-profissao {
    margin-top: 4.5em;
    font-size: 30px;
    font-family: "Ubuntu", serif;
    color: rgb(204, 242, 128);
    margin-left: 4em;
}

#info-1 {
    margin-left: 7.5em;
    color: rgb(215, 208, 242);
    margin-top: 1.5em;
    font-family: "Ubuntu", serif;
    font-size: 16px;
}

#info-2 {
    display: flex;
    gap: 5em;
    color: rgb(215, 208, 242);
    font-family: "Ubuntu", serif;
    font-size: 13px;
    margin-top: 8em;
    margin-left: 9em;
}

#linha-1 {
    height: 2px;
    width: 3vw;
    background-color: rgb(70, 49, 212);
}

#linha-2 {
    height: 2px;
    width: 2vw;
    background-color: rgb(70, 49, 212);
    margin-top: 1em;
}

#conteiner {
    margin-right: 4em;
    margin-top: 4em;
}

#decoracao {
    position: absolute;
    height: 20vh;
    width: 2vw;
    margin-left: 80em;
    margin-top: 30em;
}

#quadrado-decoracao {
    background: rgb(204, 242, 128);   
    height: 10px;
    width: 10px; 
    border: 2px solid rgb(70, 49, 212);
}